.us .content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
}
@media (min-width: 768px) {
    .us .content{
        grid-template-columns: repeat(2, 1fr);
    }
}
.us .content p{
    margin: 0;
}